<img src="/assets/images/burger.png">

<h1 class="mt-4">Eat-Da-Burger!</h1>
<div class="container">
  <div class="row">
    <div class="col-5">
      <ul id='notEatenList'>
        {{#each burgers}}
        {{#unless eaten}}
        <li>
          <div class="notEaten" data-id="{{id}}">{{id}}. {{name}}</div>
          <button class='btn btn-light eat' id='devourBtn' data-id="{{id}}">Devour It</button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-5">
      <ul id='eatenList'>
        {{#each burgers}}
        {{#if eaten}}
        <li>
          <div class="eaten" data-id="{{id}}">{{id}}. {{name}}</div>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<form class="create-form">

  <div class="form-group">
    <textarea id="bg" name="name"></textarea>
  </div>
  <button type="submit" id='bgSub' class="btn-primary">Submit</button>
  <p class="mt-4">Enter a burger you want to eat Click the "Submit" button.</p>
</form>